// стиль контейнера основного содержимого
.content {
    padding: 20px;
}

// стиль текста
.paragraph {
    color: #000;
    font-size: 14px;

    li {
        margin-top: 10px;
    }

    li + li {
        margin-top: 2px;
    }
}

.add-btn {
    margin-top: 10px;
    padding: 10px;

    min-height: 32px;
    min-width: 32px;

    /*
        Пример использования изображения в SCSS

        Его не нужно импортировать в файле index.js.
        Здесь указывается путь к файлу относительнго base.scss
        Webpack сам поменяет этот путь на нужный.

        Тут нужно указать путь к изображению относительно файла base.scss. 
    */
    content: url(../assets/images/add.svg);
    background-color: $accent;
    border-radius: 5px;
}

.link-btn {
    margin-top: 10px;
    display: block;

    text-decoration: none;
    color: #000;
}